@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    border: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: #1a0a36;
    color: white;
    font-weight: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

/*Menu Lateral*/

.toggle{
    width: 40px;
    height: 40px;
    background: url(../imagens/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
}

.toggle.active{
    background: url(../imagens/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

/*fim menu lateral*/

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

main .login-container{
    width: 50%;
    min-width: 360px;
    text-align: center;
}

main .login-container h1{
    color: #9e72eb;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

main .social-media a{
    text-decoration: none;
}

main .social-media img{
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img{
    margin-left: 0;
}

main .alternativa{
    margin-top: 1rem;
}

main .alternativa span{
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.39);
    position: relative;
}

main .alternativa span::before, 
main .alternativa span::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.39);
}

main .alternativa span::after{
    left: 50px;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin:  -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main form span{
    font-size: 1.1rem;
    margin-top: 2rem;
} */

main form input{
    background-color: #3E236B;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1.5rem;
    outline: none;
    color:#B696EE;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 8px;
}

main form input[type="submit"]{
    margin-top: 2rem;
    cursor: pointer;
    width: 50%;
    border: none;
    border-radius: 32px;
    background-color: #843DB8;
    font-size: 1.1rem;
    color: white;
    transition: 0.5s;
}

main form input[type="submit"]:hover{
    background-color: #46DDEB;
    transition: 0.3s;
}

section.images{
    width: 50%;
}

section.images img{
    width: 100%;
    padding-top: 50px;
}

section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    clip-path: circle(40% at right 80%);
    z-index: -1;
}

.focus:focus{
    background-color: rgba(131, 54, 182, 0.658);
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media screen and (max-width: 900px) {
    section.images {
        display: none;
    }
}
@media screen and (max-width: 450px) {
    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}
/*Fim pagina de login*/


